<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.ariatemplates.tools.ide.editor.editor.Editor"
            default="true"
            extensions="tpl, tml"
            id="POC.template"
            name="Template Editor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.ariatemplates.tools.ide.data.preferences.workbench.page.Page"
            id="POC.page1"
            name="Ultimate Editor">
      </page>
   </extension>
   <extension id="com.ariatemplates.tools.ide.error" point="org.eclipse.core.resources.markers" name="AT validation marker">
      <persistent value="true"/>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
   </extension>
</plugin>
